<!-- <app-sideber></app-sideber> -->
<app-admin-dashboard></app-admin-dashboard>
<div class="container">
    <div class="row" style="margin-top: 100px">
        <div class="col-2">
        </div>
        <div class="card col-10" style="background-color: antiquewhite">
            <div class="col-1 p-3">
                <button class="btn btn-info" routerLink="/allfacilities">See All</button>
            </div>
            <h1 class="text-center">Add New Facilities</h1>
            <form (ngSubmit)="hFacilitiesAdd()">
                <input type="text" class="form-control" name="hfacname" placeholder="Facilities"
                    [(ngModel)]="hf.hfacname">
                <input type="text" class="form-control" name="hfacdiscription" placeholder="Description"
                    [(ngModel)]="hf.hfacdiscription">
                <input type="text" class="form-control" name="hfackeyword" placeholder="Keyword"
                    [(ngModel)]="hf.hfackeyword">
                <div class="col-1 p-3">
                    <button class="btn btn-info">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>