<nav id="sidebarMenu"  class="collapse d-lg-block sidebar collapse"
  style="margin-top: 80px; background-color: lightseagreen;">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <button class="btn btn-outline-light">
        <h1>Hotel</h1>
      </button>
      <button class="btn btn-outline-light" routerLink="/allfacilities">
        <h1>Hotel Facilities</h1>
      </button>
      <button class="btn btn-outline-light" routerLink="/allinventory">
        <h1>Inventory</h1>
      </button>
      <button class="btn btn-outline-light">
        <h1>Hotel Facilities</h1>
      </button>
      <button class="btn btn-outline-light">
        <h1>Room</h1>
      </button>
      <button class="btn btn-outline-light">
        <h1>Location</h1>
      </button>
      <button class="btn btn-outline-light">
        <h1>Booking</h1>
      </button>
      <button class="btn btn-outline-light">
        <h1>Payment</h1>
      </button>
      <button class="btn btn-outline-light">
        <h1>User</h1>
      </button>
    </div>
  </div>
</nav>
