<app-admin-dashboard></app-admin-dashboard>
<div class="container">
    <div class="row" style="margin-top: 100px">
        <div class="col-2">
        </div>
        <div class="card col-10" style="background-color: antiquewhite">       
            <h1 class="text-center">All Booking</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Booking Date & Time</th>
                        <th>Room Number</th>
                        <th>Hotel Name</th>
                        <th>Hotel Location</th>
                        <th>Hotel Address</th>
                        <th>Checkin Date</th>
                        <th>Checkout Date</th>
                        <th>Customar Name</th>
                        <th>Email</th>
                        <th>Cell</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bl of bookingList | async">
                        <td>#{{bl.bid}}</td>
                        <td>{{bl.bdatetime}}</td>
                        <td>{{bl.roomnumber}}</td>
                        <td>{{bl.hotelname}}</td>
                        <td>{{bl.location}}</td>
                        <td>{{bl.hoteladdress}}</td>
                        <td>{{bl.checkin}}</td>
                        <td>{{bl.checkout}}</td>
                        <td>{{bl.firstname}}</td>
                        <td>{{bl.email}}</td>
                        <td>{{bl.cell}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
